aws_region = "us-west-2"

cluster_name = "korda-rag-prod"
namespace    = "rag-prod"

cpu_node_instance_types = ["m7i.2xlarge"]
gpu_node_instance_types = ["g5.2xlarge"]

cpu_min_size     = 2
cpu_desired_size = 6
cpu_max_size     = 12

gpu_min_size     = 1
gpu_desired_size = 2
gpu_max_size     = 6

common_tags = {
  Owner = "platform-team"
}
