aws_region = "us-west-2"

cluster_name = "korda-rag-dev"
namespace    = "rag-dev"

cpu_node_instance_types = ["m7i.2xlarge"]
gpu_node_instance_types = ["g5.2xlarge"]

cpu_min_size     = 2
cpu_desired_size = 3
cpu_max_size     = 6

gpu_min_size     = 1
gpu_desired_size = 1
gpu_max_size     = 2

common_tags = {
  Owner = "platform-team"
}
